
.col-sm-4 {
	color: gray;
}

li {
    list-style-type: none
}

table {
  background-color: white; 
}



.button  {
	text-align: center;
}

.fieldset {
	text-align: center;
}

#title {
	text-align: center;
	text-shadow: 4px 4px 6px rgba(0,0,0,0.6);
}

.jumbotron {
	margin-top: 75px;
	background-color: #94C2DE;
	box-shadow: 20px 20px 30px rgba(0,0,0,0.6);
	color: white;
	text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

#searchbox {
	text-align: center;
}

.table {
	margin-top: 75px;
}

.search {
	background: url(../static/img/search.jpg) no-repeat;
	height: 1200px ;
}

#results {
	background: url(../static/img/search.jpg) no-repeat;
	height: 100%;
}


#searchpage {
	height: 100%;
}

.footer, .push {
	height: 155px;
	color: white;
}



#search-button {
	color: #2E6EA5;
}