body { 
    background-color: navy;
}
h1 { 
    color: white;
}

.col-sm-4 {
	color: gray;
}

li {
    list-style-type: none
}

table {
  background-color: white; 
}

.button  {
	text-align: center;
}

.fieldset {
	text-align: center;
}

#title {
	text-align: center;
}

.jumbotron {
	margin-top: 75px;
}

#searchbox {
	text-align: center;
}