{% extends "base.html" %}

{% block content %}

<body>
	<div class="container">
	  <div class="jumbotron">
	    <h1>CS330 Directory</h1>
            <form action = '/' method = POST>

            {% for message in form.options.errors %}
                <div>{{ message }} </div>
            {% endfor %}
            {% for message in form.field.errors %}
                <div>{{ message }}</div>
            {% endfor %}

                <fieldset>
                    {{ form.hidden_tag() }}
                    
                    <div>
                        {{ form.options.label }}<br>
                        {{ form.options }}
                        <br>

                        {{ form.field }} 
                        <br>
                        {{ form.submit }}
                    </div>
                </fieldset>
            </form>

                        

	  </div>
	  
	</div>



</body>

{% endblock %}
